{% extends "layout.html" %}
{% block content %}


        
    <div class="about">
      <div class="row">
        <div class="col-md-6"><img src="Image/about1.png" class="img-fluid">
          </div>
      
        <div class="col-md-6">
        Welcome to PlateMate, where we bring delicious meals straight to your doorstep!
        We understand that life can get busy and sometimes eating out may not be an option.
        That's where we come in - our mission is to provide you with high-quality meals that are delivered to you in a timely and convenient manner.
        Our team of expert chefs use only the freshest ingredients to create a wide selection of dishes that cater to all tastes and dietary requirements.
        Whether you're in the mood for comfort food, healthy options, or something in between, we've got you covered.
        So sit back, relax, and let us take care of your next meal. Order now and experience the convenience and deliciousness of our food delivery service!
          </div>
        </div>
    </div>
    
    



    {% endblock %}



      








  