{% extends "layout.html" %}
{% block content %}

            <div id="catergories">
              <div class="jumbotron jumbotron-fluid">
                  <p class="display-auto">Catergories</p>  
              </div>
            </div>

            <div id="catergoriesSection">
              <p>Western</p>
                <div class="row">
                  <div class="col-md-3">
                      <a href="smokehousegrill">
                        <img src="Image/barbecue.png" alt="Smokehouse Grill" class="img-thumbnail">
                        <p style="font-size: 30px; text-align: center;">Smokehouse Grill</p></a>
                    </div>

                  <div class="col-md-3">
                      <a href="gardentable">
                      <img src="Image/vegetarian.png" alt="Garden Table" class="img-thumbnail">
                      <p style="font-size: 30px; text-align: center;">Garden Table</p></a>
                    </div>
                    <div class="col-md-3">
                      <a href="coastalcatch">
                      <img src="Image/seafood.png" alt="Coastal Catch" class="img-thumbnail">
                      <p style="font-size: 30px; text-align: center;">Coastal Catch</p></a>
                    </div>
                  </div>
            </div>

            <div id="catergoriesSection">
              <p>Chinese</p>
                <div class="row">
                  <div class="col-md-3">
                    <a href="thegoldenchopsticks">
                  <img src="Image/chinese food.png" alt="The Golden Chopsticks" class="img-thumbnail">
                  <p style="font-size: 30px; text-align: center;">The Golden Chopsticks</p></a>
                  </div>
                </div>
            </div>

            <div id="catergoriesSection">
              <p>Thai</p>
                <div class="row">
                  <div class="col-md-3">
                    <a href="spicygrove">
                    <img src="Image/spicy cuisine.png" alt="Spicy Grove" class="img-thumbnail">
                    <p style="font-size: 30px; text-align: center;">Spicy Grove</p></a>
                  </div>
                </div>
            </div>

            <div id="catergoriesSection">
              <p>More</p>
                <div class="row">
                  <div class="col-md-3">
                    <a href="sweettoothcafe">
                  <img src="Image/coffee.png" alt="Sweet Tooth Cafe" class="img-thumbnail">
                  <p style="font-size: 30px; text-align: center;">Sweet Tooth Cafe</p></a>
                </div>
                </div>
            </div>

            {% endblock %}