{% extends "layout.html" %}
{% block content %}

<div class="row">
      <div class="col-md-6">
        <div style="height: auto; padding: 14px;" class="table" >
            <h1 style="color: blue;">Change Order</h1>
            
            <br><table>
                <tr>
                <th>Order No.</th>
                <th>restaurant id:</th>
                <th>restaurant name:</th>
                <th>member id:</th>
                <th>foodname:</th>
                </tr>
                {% for item in results %}
                    <tr>
                        
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                        <td>{{item[3]}} </td>
                        <td>{{item[4]}} </td>


                        
                    </tr> 
                {% endfor %} 
                </table>
        </div>
        </div>
    
      <div class="col-md-6">
        <form method="POST" action="/change_order">
            order No.: <br><input id="Porder_id" name="Porder_id"  required type="int" /><br>
            restaurant id:<br><input id="restaurant_id" name="restaurant_id"  required type="int" /><br>
            member id:<br><input id="member_id" name="member_id" required type="int"  /><br>
            food name:<br><input id="foodname" name="foodname" required type="text"  /><br>
            
            <br>(please ensure detail enter correctly)<br>
            <input type="submit" value="submit">
        </form>
      </div>
</div>

      {% endblock %}
        
        