{% extends "layout.html" %}
{% block content %}

            <div id="catergoriesSection">
                <p>Chinese</p>
                  <div class="row">
                    <div class="col-md-3">
                      <a href="thegoldenchopsticks">
                    <img src="Image/chinese food.png" alt="The Golden Chopsticks" class="img-thumbnail">
                    <p style="font-size: 30px; text-align: center;">The Golden Chopsticks</p></a>
                    </div>
                  </div>
              </div>




              {% endblock %}