{% extends "layout.html" %}
{% block content %}

      <div class="jumbotron jumbotron-fluid">
            <div class="text-center">
                <h1 class="display-auto">Delivering deliciousness directly to your plate!</h1>
                <p class="lead">"Delight your taste buds with our fresh, healthy meals delivered straight to your door.</p><br>
                <div class="col text-center">
                    <a class="btn btn-primary btn-lg" href="catergories" role="button">Order Now</a>
                
                </div>
            </div>    
        </div>

    
    
    
    <div class="container">
        <p style="text-align: center; font-size: 40px;">Top restaurant and more in PlateMate</p>
        <div class="row">
          <div class="col-md-1"> </div>  
          <div class="col-md-3">
            <a href="spicygrove">
            <img src="Image/spicy cuisine.png" alt="Spicy Grove" class="img-thumbnail">
            <p style="font-size: 30px; text-align: center;">Spicy Grove</p></a>
          </div>
          <div class="col-md-1"> </div> 
          <div class="col-md-3">
            <a href="coastalcatch">
            <img src="Image/seafood.png" alt="Coastal Catch" class="img-thumbnail">
            <p style="font-size: 30px; text-align: center;">Coastal Catch</p></a>
          </div>
          <div class="col-md-1"> </div>
          <div class="col-md-3">
            <a href="gardentable">
            <img src="Image/vegetarian.png" alt="Garden Table" class="img-thumbnail">
            <p style="font-size: 30px; text-align: center;">Garden Table</p></a>
          </div>
          
        </div>
        
        <div class="row">
            <div class="col-md-1"> </div>  
            <div class="col-md-3">
            <a href="smokehousegrill">
              <img src="Image/barbecue.png" alt="Smokehouse Grill" class="img-thumbnail">
              <p style="font-size: 30px; text-align: center;">Smokehouse Grill</p></a>
            </div>
            <div class="col-md-1"> </div> 
            <div class="col-md-3">
                <a href="thegoldenchopsticks">
              <img src="Image/chinese food.png" alt="The Golden Chopsticks" class="img-thumbnail">
              <p style="font-size: 30px; text-align: center;">The Golden Chopsticks</p></a>
            </div>
            <div class="col-md-1"> </div>
            <div class="col-md-3">
                <a href="sweettoothcafe">
              <img src="Image/coffee.png" alt="Sweet Tooth Cafe" class="img-thumbnail">
              <p style="font-size: 30px; text-align: center;">Sweet Tooth Cafe</p></a>
            </div>
            
          </div>
      </div>

      <div class="section1">
        <p style="font-size: 40px; font-weight: bold; text-align: center;">Rated No.1 Food Delivery Services In Hong Kong</p>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="Image/happyMeal.jpeg" class="img-fluid" alt="People Having meal happily">
            </div>
            <div class="col-md-6">
                <h3 class="text-md-left">Our food delivery service has consistently received high ratings from satisfied customers 
                who appreciate its convenience, promptness, and the quality of the delicious meals we offer.
                We are committed to ensuring a positive experience for all our customers.</h3>
            </div>
        </div>
              
      </div>
    
      {% endblock %}