{% extends "layout.html" %}
{% block content %}


          <div id="register">
            <form method = "post">
                <h1>Register</h1>
                username:<br><input id="username" name="username"  required type="text" /><div id="username_check"></div><br>
                Password:<br><input id="password" name="password" required type="text"  /><br>
                Address :<br><input id="user_address" name="user_address" required type="text"  /><br>
                Email   :<br><input id="email_address" name="email_address" required type="email"  /><br><br>
                <script>

      let input = document.querySelector('input[name=username]');
       input.onkeyup = function() {
            $.post('/check_username', {username: input.value})
              .done(function(data) {
                if (data != "ok"){
                    $("#username_check").text(data)
                    $("#username_check").css('color', 'red')
                }
                else {
                  $("#username_check").text('')
                }
              });
        };


                 $(document).ready(function(){
                    $("#hide").click(function(){
                      $("p").hide();
                    }); $("#show").click(function(){
                      $("p").show();
                    });
                  }); 
                  </script>

                  <h2>Please read our user agreement</h2>
                  
                  
                  
                  <button id="show" type="button">i have read and agree the user agreement </button><br>
                  <button id="hide" type="button" action="/">i disagree with the user agreement</button>
                  <p id= "test"><input type="submit" value="submit" /></p> 
                  

                
                


            </form>




          </div>



          {% endblock %}      