
#catergories{
    font-size: 80px;
    background-color: white;
    font-family: sans-serif;
    text-align: center;
    }

#catergoriesSection{
    font-size: 40px;
    font-family: sans-serif;
    height: auto;
    padding: 30px;

}

#register{
    font-size: 40px;
    font-family: sans-serif;
    padding: 50px;


}