{% extends "layout.html" %}
{% block content %}

            <div id="catergoriesSection">
                <p>Thai</p>
                  <div class="row">
                    <div class="col-md-3">
                      <a href="spicygrove">
                      <img src="Image/spicy cuisine.png" alt="Spicy Grove" class="img-thumbnail">
                      <p style="font-size: 30px; text-align: center;">Spicy Grove</p></a>
                    </div>
                  </div>
              </div>



              {% endblock %}