{% extends "layout.html" %}
{% block content %}

            <div id="catergoriesSection">
                <p>Western</p>
                  <div class="row">
                    <div class="col-md-3">
                        <a href="smokehousegrill">
                          <img src="Image/barbecue.png" alt="Smokehouse Grill" class="img-thumbnail">
                          <p style="font-size: 30px; text-align: center;">Smokehouse Grill</p></a>
                      </div>
  
                    <div class="col-md-3">
                        <a href="gardentable">
                        <img src="Image/vegetarian.png" alt="Garden Table" class="img-thumbnail">
                        <p style="font-size: 30px; text-align: center;">Garden Table</p></a>
                      </div>
                      <div class="col-md-3">
                        <a href="coastalcatch">
                        <img src="Image/seafood.png" alt="Coastal Catch" class="img-thumbnail">
                        <p style="font-size: 30px; text-align: center;">Coastal Catch</p></a>
                      </div>
                    </div>
              </div>


              {% endblock %}